
<div class="pb-5">
  <div class="text-center form-jumbo pt-5">
    <h1>Gestione completa del tuo appartamento</h1>
    <div>
      <p class="lh-base fs-5">Il tuo tempo è prezioso, Intrho nasce per tutelarlo e massimizzare il rendimento del tuo appartamento.</p>
    </div>
  </div>
  <div class="container-lg align-items-center form-cols">
    <div class="row d-flex justify-content-center ">
      <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center back-yellow">
        <div class="form-sx-c p-5">
          <div class="qwe">
            <h2>Pensiamo a tutto noi:</h2> <br/>
            <ul>
              <li>&#8226; Realizziamo uno shooting professionale.</li>
              <li>&#8226; Proponiamo il tuo immobile alla nostra clientela selezionata di manager e professionisti.</li>
              <li>
                &#8226; Gestiamo l’inquilino a 360 gradi, dal contratto, gli incassi, fino ai possibili problemi quotidiani.
              </li>
            </ul>
          </div>
          <p>
            L'inquilino sarà sempre assistito e tu non dovrai pensare a niente.
          </p>
        </div>
      </div>

      <!--colonna DX-------------->
      <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center form-dx ">
        <div class="box-root padding-top--24 flex-flex flex-direction--column rounded" style="flex-grow: 1; z-index: 9;">

          <div class="formbg-outer">
            <div class="formbg">
              <div class="formbg-inner padding-horizontal--48">
                <h3>Descrivici il tuo immobile e la tua esigenza.</h3>
                <p class="fw-light">Ti contatteremo al più presto.</p>
                <form id="stripe-login" class="form-contact" action="https://formsubmit.co/gianmarcoculqui98@gmail.com" method="POST">

                  <div class="field padding-bottom--24">
                    <label for="nameCog">Nome e Cognome</label>
                    <input id="fname" type="text" name="nomCog">
                  </div>
                  <div class="field padding-bottom--24">
                    <label for="email">Email</label>
                    <input id="email" type="email" name="email">
                  </div>
                  <!--
                  <div class="field padding-bottom--24">
                    <label for="exampleInputEmail1">Tipologia di Immobile</label>
                    <select name="tipoImm" id="tipoImb" value="tipo di immobile" class="form-control p-1">
                      <option value="Monolocale/bilocale"></option>
                      <option value="Monolocale/bilocale">Monolocale/bilocale</option>
                      <option value="Trilocale">Trilocale</option>
                      <option value="Quadrilocale">Quadrilocale</option>
                      <option value="Villa Indipendente">Villa Indipendente</option>
                      <option value="Plurilocale oltre quattro vani">Plurilocale oltre quattro vani</option>
                      <option value="Altro(specifica nel commento)">Altro(specifica nel commento)</option>
                    </select>
                  </div>
                  <div class="field padding-bottom--24">
                    <label for="nameCog">Indirizzo dell'Immobile</label>
                    <input type="nomCog" name="nomCog" >
                  </div>
                  <div class="field padding-bottom--24">
                    <label for="nameCog">Telefono</label>
                    <input type="nomCog" name="nomCog">
                  </div>
                  <div class="field padding-bottom--24">
                    <label for="nameCog">Lascia qualche dettaglio in più</label>
                    <textarea name="" id=""  rows="8" style="width: 100%;" class="border border-1 p-2"></textarea>
                  </div>


                  <div class="field field-checkbox padding-bottom--24 d-flex align-items-baseline">
                    <label for="checkbox">
                      <input type="checkbox" name="checkbox" >
                      <span class="fw-lighter" style="font-size: 13px;"> Regolamento UE 2016/679: Acconsento al trattamento dei miei dati personali come da <a routerLink="/privacypolice">Privacy Policy</a>.</span>
                    </label>
                  </div>
                -->
                  <div class="field padding-bottom--24 d-grid gap-2">
                    <button class="btn btn-outline-warning btn-warning raise" id="submit" type="submit">invia</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






