<footer id="footer-large">

	<div class="footer-container">

		<div class="footer-informazioni">
		 <div> <img src="https://www.chefstudio.it/img/your-logo.png" width="170" alt=""/> </div>

		  <p class="margin-bot-15px text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pretium eros quam, sit amet vulputate velit elementum ut. Cras sed semper risus. Etiam molestie quam eget diam pharetra, eget semper nisl eleifend. Vivamus quis tellus mollis neque hendrerit consequat ut non dolor. Donec faucibus, nisl in suscipit porttitor, libero libero elementum sapien, eu condimentum velit dui eu erat. Nunc placerat odio et nulla cursus suscipit. Morbi ultricies eleifend dui ut gravida. Proin non mi nisi.
			</p>
      P.I./C.F. 000000, Registro Imprese  di Lucca <br/> Numero REA 00000 <br/> Cap. Soc. 10000 € i.v.<br/>
      <br/><a target="_blank" href="#"> Informativa Privacy</a> | <a target="_blank" href="#">Informativa Cookie</a>


		</div>

		<div class="footer-menu">
		<div class="menu-footer"><ul id="menu-menu-footer" class="menu">
    	<li><a href="#">Homepage</a></li>
		<li><a href="#">Prodotti</a></li>
		<li><a href="#">Showroom arredamento</a></li>
		<li><a href="#">Blog</a></li>
		<li><a href="#">Azienda</a></li>
		<li><a href="#">Contatti</a></li>
		</ul></div> <!-- Footer Menu -->
		</div>

		<div class="footer-contatti">

		<div class="large_txt color-secondary">Contatti</div>
		Tel: +39 0584 000000<br/>
		Email: <a href="#">info@info.com</a><br/>
		Indirizzo: via Roma 111, Pietrasanta (LU), Italia.<br/>

		<div class="social-cont">
		<ul class="social-list">

		<li class="trans-color"><a target="_blank" href="#"><img src="https://www.chefstudio.it/img/facebook-icon.png"  title="facebook" alt="Facebook icon"><br></a></li>
		<li class="trans-color"><a target="_blank" href="#"><img src="https://www.chefstudio.it/img/instagram-icon.png" title="Instagram" alt="Instagram icon"><br></a></li>
		<li class="trans-color"><a target="_blank" href="#"><img src="https://www.chefstudio.it/img/pinterest-icon.png" title="pinterest" alt="Instagram icon"><br></a></li>

		</ul>
    	<div class="floatstop"></div>
		</div><!--/fine social cont-->

		</div>



		<div class="floatstop"></div>

		<div class="avvertenze-legali ">
      <p class="text-white">
      Informazioni legali | I testi, le informazioni e gli altri dati pubblicati in questo sito nonché i link ad altri siti presenti sul web hanno esclusivamente scopo informativo e non assumono alcun carattere di ufficialità. Non assume alcuna responsabilità per eventuali errori od omissioni di qualsiasi tipo e per qualunque tipo di danno diretto, indiretto o accidentale derivante dalla lettura o dall'impiego delle informazioni pubblicate, o di qualsiasi forma di contenuto presente nel sito o per l'accesso o l'uso del materiale contenuto in altri siti.
      </p>
		</div>


<div class="credits">

Designed by<br/>

			<div>
			<a target="_blank" href="#">
			<img src="https://www.chefstudio.it/img/your-logo.png" width="100" title="#" alt="#"></a>
			</div>

</div>	<!--/fine description -->

</div> <!--/fine footer container -->
  <div class="whatapp">
    <a href="https://wa.me/393248062509">
      <img src="assets/svg/whatsapp.svg" alt="">
    </a>
  </div>
</footer>
