<!--<div class="slider-b ">
  <div class="slider">
    <div class="slide-track">
      <div class="row">
        <div class="col slide">
          <img width="220px" src="/assets/images/ota/air-bnb.png">
        </div>
        <div class="col slide">
          <img width="220px" src="/assets/images/ota/booking.png">
        </div>
        <div class="col slide">
          <img width="220px" src="/assets/images/ota/Ciaobooking.webp">
        </div>
        <div class="col slide">
          <img width="220px" src="/assets/images/ota/expedia-1.png">
        </div>
        <div class="col slide">
          <img width="220px" src="/assets/images/ota/tripadvisor-1.png">
        </div>
        <div class="col slide">
          <img width="220px" src="/assets/images/ota/homeaway.png">
        </div>
        <div class="col slide">
          <img width="220px" src="/assets/images/ota/vrbo.png">
        </div>
      </div>

      <div class="row">
        <div class="col slide">
          <img width="220px" src="/assets/images/ota/air-bnb.png">
        </div>
        <div class="col slide">
          <img width="220px" src="/assets/images/ota/booking.png">
        </div>
        <div class="col slide">
          <img width="220px" src="/assets/images/ota/Ciaobooking.webp">
        </div>
        <div class="col slide">
          <img width="220px" src="/assets/images/ota/expedia-1.png">
        </div>
        <div class="col slide">
          <img width="220px" src="/assets/images/ota/tripadvisor-1.png">
        </div>
        <div class="col slide">
          <img width="220px" src="/assets/images/ota/homeaway.png">
        </div>
        <div class="col slide">
          <img width="220px" src="/assets/images/ota/vrbo.png">
        </div>
      </div>
    </div>

  </div>
</div>
-->

<div class="wrapper">
  <div class="slider">
    <div class="slide">
      <img width="220px" src="/assets/images/ota/air-bnb.png">
      <img width="220px" src="/assets/images/ota/booking.png">
      <img width="220px" src="/assets/images/ota/Ciaobooking.webp">
      <img width="220px" src="/assets/images/ota/expedia-1.png">
      <img width="220px" src="/assets/images/ota/tripadvisor-1.png">
      <img width="220px" src="/assets/images/ota/homeaway.png">
      <img width="220px" src="/assets/images/ota/vrbo.png">
    </div>
    <div class="slide">
      <img width="220px" src="/assets/images/ota/air-bnb.png">
      <img width="220px" src="/assets/images/ota/booking.png">
      <img width="220px" src="/assets/images/ota/Ciaobooking.webp">
      <img width="220px" src="/assets/images/ota/expedia-1.png">
      <img width="220px" src="/assets/images/ota/tripadvisor-1.png">
      <img width="220px" src="/assets/images/ota/homeaway.png">
      <img width="220px" src="/assets/images/ota/vrbo.png">
    </div>

  </div>

</div>
