<div class="jumbo d-flex justify-content-center align-items-center row">
    <div class=" col-lg-9 col-md-10 text-center text-sm-start">
      <div>
        <h1 class=" ">
          Gestione completa del tuo appartamento
        </h1>
      </div>
        <div class="jumbo-c-tw">
          <h3 class=" fw-semibold">
            Non dovrà più preoccuparti <br class="d-lg-none d-xl-none d-xxl-none"> <span class="tw"></span>
          </h3>
        </div>
        <div class="mt-5">
          <button type="button" class="t-no btn btn-warning fw-semibold rounded-pill px-4">
            Scopri i nostri servizi
          </button>
        </div>
    </div>


</div>
